<!-- src/app/features/game/game.component.html -->
<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="w-full max-w-4xl bg-white p-8 rounded-lg shadow-md space-y-6">
    <h2 class="text-2xl font-semibold text-gray-700 text-center">Game Room #{{roomId}}</h2>

    <div class="flex justify-between">
      <span>Room ID: {{roomId}}</span>
      <button (click)="leaveGame()"
              class="px-4 py-1 bg-red-500 text-white rounded hover:bg-red-600">
        Leave Game
      </button>
    </div>

    <!-- Strict Chat (Yes/No Questions) -->
    <div class="bg-gray-50 p-4 rounded-lg shadow-md">
      <h3 class="text-lg font-medium text-gray-900">Strict Chat (Yes/No Questions)</h3>
      <div class="h-48 overflow-y-auto bg-white p-2 border mb-2">
        <ul>
          <li *ngFor="let message of gameplayMessages" class="mb-2 p-2"
              [ngClass]="{'bg-blue-50': message.sender === playerId}">
            <strong>Player {{message.sender}}:</strong> {{message.content}}
          </li>
        </ul>
      </div>
      <div class="flex">
        <input [(ngModel)]="questionInput"
               name="questionInput"
               placeholder="Ask a yes/no question..."
               class="flex-grow p-2 border rounded-l-md focus:outline-none focus:ring focus:ring-indigo-300" />
        <button (click)="sendGameplayQuestion()"
                class="py-2 px-4 bg-indigo-600 text-white rounded-r-md hover:bg-indigo-500 transition duration-300 ease-in-out">
          Send
        </button>
      </div>
    </div>

    <!-- Free Chat -->
    <div class="bg-gray-50 p-4 rounded-lg shadow-md">
      <h3 class="text-lg font-medium text-gray-900">Free Chat</h3>
      <div class="h-48 overflow-y-auto bg-white p-2 border mb-2">
        <ul>
          <li *ngFor="let message of freeChatMessages" class="mb-2 p-2"
              [ngClass]="{'bg-blue-50': message.sender === playerId}">
            <strong>Player {{message.sender}}:</strong> {{message.content}}
          </li>
        </ul>
      </div>
      <div class="flex">
        <input [(ngModel)]="freeChatInput"
               name="freeChatInput"
               placeholder="Type a message..."
               class="flex-grow p-2 border rounded-l-md focus:outline-none focus:ring focus:ring-indigo-300" />
        <button (click)="sendFreeChatMessage()"
                class="py-2 px-4 bg-indigo-600 text-white rounded-r-md hover:bg-indigo-500 transition duration-300 ease-in-out">
          Send
        </button>
      </div>
    </div>
  </div>
</div>
